<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!-- make sure nuget.org is enabled -->
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>

	<!-- allow these package families to come from nuget.org -->
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<!-- catch-all for everything your projects might need -->
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>
